<<<<<<< HEAD
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
}
=======
header {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom:1px #CCCCCC;

} 
>>>>>>> c80b2fa0e22d5c6cd31cc98c655da3101ca1daca
